<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taicang.server.mapper.SellPurchaseMapper">
    <select id="getSellOrders" resultType="com.taicang.server.entity.SellPurchase">
        SELECT * FROM tb_sell_purchase WHERE own_name = #{own_name}
    </select>
</mapper>